* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
}
body{
  background-color: #f6f8fa;

}
.main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Photos/mainBackground.png);
  background-repeat: no-repeat;
  height: 125vh;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  /* position: relative; */
}
nav {
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
  padding: 2vw 14vw;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 4vw;
}
nav ul li {
  list-style: none;
  
}
nav ul li a{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
img[alt="header-logo"]{
  width: 110px;
}
hr{
  margin: 0 8vw;
}
.header-contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 160px;
  gap: 45px;
}
.header-contain h1{
  color: white;
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  width: 70%;
}
.header-contain h2{
  color: white;
  font-size: 20px;
  width: 45%;
}
.header-contain-btn{
  border-style: none;
  border-radius: 50px;
  width: 170px;
  font-size: 20px;
  background-color: #6663e9;
  padding: 10px 5px;
  color: white;
}
.section-logo-container{
  position: relative;
  border: 10px solid #fff;
  padding: 60px 80px;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  background-color: white;
  border-radius: 50px;
  top:-110px;
  margin: 20px;
  flex-wrap: wrap;
}
.section-intro{
  width: 60%;
  text-align: center;
  margin-left: 250px;
}
.section-intro h1{
  font-size: 60px;
  color: black;
  margin-bottom: 120px;
}
.section-first-photo-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  padding-bottom: 60px;
}
.section-second-photo-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap:25px;
  padding-bottom: 60px;

}

img[alt="card-img"]{
  border-radius: 30px;
  width: 366px;
  height: 400px;
}
.image-contain{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: white;
  padding: 20px 20px;
  border-radius: 30px;
  margin: 0 20px;
 
}
.image-intro {
  font-size: 40px;
  line-height: 40px;
  font-weight: 100;

}
.image-intro h5{
  color: #6663e9;
}
.btn-detail{
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  background-color:#6663e9;
  border-radius: 50px;
  border-style: none;
}
.card-img-one, .card-img-six{
  position: relative;
  top: -60px;
}

.card-img-two, .card-img-five{
  position: relative;
  top: -30px;
}
.image-contain-one, .image-contain-six{
  position: relative;
  top: -110px;
}
.image-contain-two, .image-contain-five{
  position: relative;
  top: -80px;
}
.image-contain-three, .image-contain-four{
  position: relative;
  top: -50px;

}
.building-card-intro{
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img[alt="feature-img"]{
  position: relative;
  top:-90px;
  left:-360px;
  width: 430px;
  height: 450px;
  border-radius: 50px;
}
img[alt="feature-icon"]{
  width: 600px;
  position: relative;
  left: 120px;
}
.feature-img-intro h1{
  color: black;
}
.feature-img-intro h1{
  font-size: 50px;
  line-height: 70px;
}
.feature-img-intro p {
  color: #585c65;
  line-height: 30px;
  font-size: 20px;
  width: 500px;
}
.feature-btn{
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  border-style: none;
  background-color: #6663e9;
  color: white;
}
.feature-img-intro{
  position: relative;
  right: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-img-intro h1{
  width: 500px;
  font-size: 60px;
}
.feature-btn{
  width: 180px;
  font-size: 20px;
}
.building-card-intro-two{
  padding-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}
img[alt="feature-img-two"]{
  width: 430px;
  height: 430px;
  border-radius: 50px;
  position: relative;
  top: -80px;
  right: -630px;
}
img[alt="feature-icon-two"]{
  height: 500px;
  width: 780px;
}

.feature-img-intro-two{
  display: flex;
  position: relative;
  flex-direction: column;
  left: 450px;
  gap: 30px;
}
.feature-img-intro-two h1{
  width: 450px;
  font-size: 60px;
  line-height: 70px;
}
.feature-img-intro-two p {
  color: #585c65;
  line-height: 30px;
  font-size: 20px;
  width: 400px;

}
.blog-article{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #6663e9;
  padding: 60px 0 ;
  color: white;
  border-radius: 50px;
}
.blog-article h1{
  font-size: 50px;
  width: 700px;
}
.blog-article p{
  font-size: 15px;
  width: 500px;
}
.blog-article-mail{
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  gap: 30px;
}
.mail-section{
  margin-left: 100px;
  background-color: #5654d1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  gap: 10px;
  width: 400px;
}
#email{
  border-style: none;
  background-color: #5654d1;
  width: 170px;
  height: 20px;
  font-size: 15px;
}
.btn-sub{
  padding: 15px 45px;
  font-size: 20px;
  border-radius: 50px;
  border-style: none;
  color: #5654d1;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-first-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
img[alt="logo-icon"]{
  width: 120px;
}
.social-icons{
  display: flex;
  gap: 15px;
}
img[alt="social"]{
  width: 40px;
}
.footer-first-section div h2{
  font-size: 20px;
  width: 340px;
  font-weight: 100;
}
.footer-second-section{
  line-height: 40px;
}
.footer-second-section  h1 a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.footer-second-section ul li {
  list-style: none;
}
.footer-second-section ul li a {
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}

